<div class="question-card">
  <img src="ruby.png" width="50" height="50">
  <p>language: <%= question.language%></p>
  <textarea name="name" rows="4" cols="40">
    <%= question.content %>
  </textarea>
</div>
